package main

import (
	"log/slog"
	"os"

	_ "{{.ModulePath}}/{{.MigrationDir}}"
	"github.com/pocketbase/pocketbase"
{{ if .JSVMImport }}	"github.com/pocketbase/pocketbase/plugins/jsvm"
{{ end }}	"github.com/pocketbase/pocketbase/plugins/migratecmd"
)

func main() {
	logger := getLogger()

	app := pocketbase.New()

{{ if .JSVMImport }}	jsvm.MustRegister(app, jsvm.Config{})

{{ end }}
	migratecmd.MustRegister(app, app.RootCmd, migratecmd.Config{
		Dir:         "{{.MigrationDir}}",
		Automigrate: {{.AutoMigration}},
	})

	if err := app.Start(); err != nil {
		logger.Error(err.Error())
	}
}

func getLogger() *slog.Logger {
	opts := slog.HandlerOptions{
		AddSource: true,
		Level:     slog.LevelInfo,
	}

	jsonHandler := slog.NewJSONHandler(os.Stdout, &opts)
	logger := slog.New(jsonHandler)

	return logger
}
